<!DOCTYPE html>
<html>
<head>
<title>模板引擎</title>
</head>
<body>

<div id="view1"></div>

<div id="view2"></div>

<div id="view3"></div>



<script type='text/html' id="tmp1">
    <p>Hello, my name is <% name%>. Im <%age%> years old.</p>
</script>


<script type='text/html' id="tmp2">
    <p>Hello, my name is <%this.name%>. Im <%this.profile.age%> years old.</p>
</script>

<script type='text/html' id="tmp3">
    <% for (var i=0,l=this.name.length;i<l;i++){%>
    <p><% this.name[i] %></p>
    <% } %>
</script>

<script src="../jquery-1.10.2.min.js"></script>
<script src="temp.js"></script>
<script>
var template = $("#tmp1").html();

var view = Temp(template, {
  name: "Krasimir Tsonev",
  age: 29
})

$("#view1").html(view);

var template2 = $("#tmp2").html();
var view2 = TemplateEngine(template2, {
    name: "Krasimir",
    profile: { age: 29 }
});

$("#view2").html(view2);

var template3 = $("#tmp3").html();
var view3 = TemplateEngine(template3, {
    name: ["hello","guang"]
})

$("#view3").html(view3);

</script>
</body>
</html>